﻿ /* .k-editor-inline {
     border-width: 0;
     box-shadow: none;
     background: none;
 } */

 .builder-container {
     margin-top: 20px;
 }
.k-i-insert-button{
    background: 50% 50% no-repeat url(../../img/button-icon.png)
}
 .builder-editor {
     width: 640px;
     border: solid 1px #bac3ca;
     margin: 0 auto;
 }

 .col-content {
     position: relative;
     min-height: 100px;
     width: 100%;
     text-align: center;
     background-color: #ccc;
 }
.col-content:hover{
     border: 1px solid orange;
}
 .col-content:hover .options { 
    position: absolute;
    z-index: 2;
    background-color: orange;
    right: -40px;
    padding: 5px;
    border: 1px solid orange;
    top: -1px;
    border-left: 0;
     display: block
 }
 .col-content .options button {
     display: block
 }
  .col-content .options {
     display: none
 } 

 .block {
     position: relative;
     background: #fff;
 }

 .block:hover {
     border: 1px solid blue
 }

 .tools {
     position: absolute;
     margin: 0;
     top: -33px;
     right: -1px;
     z-index: 20;
     text-align: center;
     background: #fff;
     padding: 5px 8px;
     border: 1px solid blue;
     border-bottom: 1px solid #fff;
     display: none;
 } 

 .block:hover .tools {
     display: block
 }

 .section-tool {
     padding: 15px;
     text-align: center;
     background: #eee
 }

 .section-tool:hover {
     border: 1px solid blue
 }


