<div data-bind="
        kendoDialog: dialogButton,
        kd-width: 700,
        kd-height: 600,
        kd-modal: true,
        kd-actions: actionButtons(),
        kd-title: 'Insert Button'" class="k-content wide">

    <table>
        <tbody>
            <tr>
                <td>
                    <ul class="fieldlist">
                        <li>
                            <h5>Text</h5> <input type="text" data-bind="value: button.table.text" /></li>
                        <li>
                            <h5>Height</h5> <input type="text" data-bind="value: button.table.height" /></li>
                        <li>
                            <h5>Width</h5> <input type="text" data-bind="value: button.table.width" /></li>
                        <li>
                            <h5>Alignment</h5> <select class="k-input k-combobox" data-bind="options: button.table.alignOptions, value: button.table.align "></select></li>
                    </ul>
                </td>
                <td>
                    <ul class="fieldlist">
                        <li>
                            <h5>Font Family</h5> <input type="text" data-bind="value: button.styles.fontFamily" /></li>
                        <li>
                            <h5>Font Size</h5> <input type="text" data-bind="value: button.styles.fontSize" /></li>
                        <li>
                            <h5>Href</h5> <input type="text" data-bind="value: button.anchor.href" /></li>
                    </ul>
                </td>
                <td>
                    <ul class="fieldlist">
                        <li>
                            <h5>Text Color</h5>
                            <span data-bind="kendoColorPicker: button.anchor.color"></span>
                        </li>
                        <li>
                            <h5>Background Color</h5>
                            <span data-bind="kendoColorPicker: button.table.backgroundcolor"></span>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div data-bind="html: button.ButtonHtml"></div>
</div>