<div data-bind=" 
        kendoDialog: dialogButton,
        kd-width: 750,
        kd-height: 550,
        kd-modal: true,
        kd-actions: actionButtons(),
        kd-title: 'Insert Image'" class="k-content wide">

    <div class="form-horizontal">
        <div class="row-fluid">
            <table class="table table-bordered table-condensed table-stripped">
                <tbody>
                    <tr>
                        <td>
                            <ul class="fieldlist">
                                <li>
                                    <h5>Source:</h5> <input type="text" data-bind="value: image.src" class="k-textbox" />
                                </li>
                                <li>
                                    <h5>Width (px):</h5> <input type="text" data-bind="value: image.width" class="k-textbox"
                                    />
                                </li>
                                <li>
                                    <h5>Height (px):</h5> <input type="text" data-bind="value: image.height" class="k-textbox"
                                    />
                                </li>
                                <li>
                                    <h5>Alternate text: </h5> <input type="text" data-bind="value: image.alt" class="k-textbox"
                                    />
                                </li>
                            </ul>
                        </td>
                        <td>
                            <h5>Preview:</h5>
                            <ul class="fieldlist">
                                <li data-bind="visible: image.src() === ''">
                                     <img data-bind="attr:{  src:'http://www.novelupdates.com/img/noimagefound.jpg', width: image.width, height: image.height, alt:image.alt }"/>
                                </li>
                                <li data-bind="visible: image.src() !== ''">
                                    <img data-bind="attr:{  src:image.src, width: image.width, height: image.height, alt:image.alt }"/>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>