﻿
<!-- <div class="col-content">
    <button class='btn btn-mini btn-danger removecol' data-bind="click: deleteCol">x</button>
    <div class="editor" data-bind="kendoEditor: content"></div>
</div> -->

<div class="col-content" data-bind="style: { background: content() != '' ? '#fff' : '#ccc' }">
    <div style="text-align: left" data-bind="html: content"></div>    
    <div class="options">
        <button class="" data-bind="click: deleteCol"><i class="fa fa-times"></i></button>
        <button class="" data-bind="click: openButton"><i class="fa fa-bold"></i></button>
        <button class="" data-bind="click: openImage"><i class="fa fa-image"></i></button>
    </div>
</div> 
<div data-bind="component: {name: 'Button-Custom-Component', params: { dialogButton: dialogButton, components: components }}"></div>
<div data-bind="component: {name: 'Image-Custom-Component',  params: { dialogButton: dialogButton, components: components }}"></div>
