﻿
<!-- <div class='block'> 
    <div class='tools'>
        <button class='btn btn-small' title="Remove" data-bind='click: deleteSec'>x</button>
        <button class='btn btn-small' data-bind='click: addCol'>Add column</button>
    </div>

    <div class="row-fluid clearfix" data-bind="foreach: columns">
        <div class="column"  data-bind="attr: { style : $component.colClass }">
            <div data-bind="component: { name: 'ColumnModel-Component', params: { IsColumnDeleted: IsColumnDeleted }}"></div>
        </div>
   
</div> -->


<div class="block">

    <div class='tools'>
        <button class='btn btn-small' title="Remove" data-bind='click: deleteSec'><i class="fa fa-times"></i></button>
        <button class='btn btn-small' data-bind='click: addCol, enable: columns().length !== 6'>Add column</button>
    </div>
    <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
        <tr>
            <td height="5" style="font-size:10px; line-height:10px;"> </td>
            <!-- Spacer -->
        </tr>
        <tr>
            <td align="center" valign="top">
                
                <table width="640" cellpadding="0" cellspacing="0" border="0" class="container">
                    <tr>
                        <!-- ko foreach: columns -->  
                            <td width="5" style="font-size:10px; line-height:10px;" class="mobileOff">&nbsp;</td> 
                            <td data-bind="attr: {width: $component.colWidth() }" class="mobile" valign="top">
                                <div data-bind="component: { name: 'ColumnModel-Component', params: { IsColumnDeleted: IsColumnDeleted }}"></div> 
                            </td> 
                            <td width="5" style="font-size:10px; line-height:10px;" class="mobileOff">&nbsp;</td> 
                        <!-- /ko -->
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td height="5" style="font-size:10px; line-height:10px;"> </td>
            <!-- Spacer -->
        </tr>
    </table>

</div>
