﻿<div class="builder-container">

    <div class="builder-editor">
        <div class="section-tool">
            <button class="btn btn-primary" data-bind="click: newSection"> Add Section + </button>
        </div>

        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="100%" valign="top" align="center">
                    <!-- ko foreach: sections -->
                    <div data-bind="component: {name: 'SectionModel-Component', params: $data } "></div>
                    <!-- /ko -->
                </td>
            </tr>
        </table>
         
    </div>
    <!-- <input type="button" data-bind="click: SaveTemplate" value="Click" /> -->

</div>