<div data-bind="
        kendoDialog: isDialogOpen,
        kd-width: 640,
        kd-height: 500,
        kd-modal: true,
        kd-actions: actionButtons(),
        kd-title: 'Edit Content'" class="k-content wide">
 
         <div style="height: 300px" data-bind="kendoEditor: content"></div> 
         <div data-bind="component: {name: 'Button-Custom-Component', params: button}"></div>
        <div data-bind="component: {name: 'Image-Custom-Component' , params: image}"></div>
</div>